body{
    padding-left : 100px;
    padding-top: 20px;
    margin:0;
}

ul, li{
    list-style: none;
    padding:0;
}

.title{
    white-space: nowrap;
    overflow: hidden;
    display: block;
    text-overflow:ellipsis;
}

#menu{
    width: 840px;
    display: inline-block;
    
}

.banner{ 
    background-color: pink;
    width: 840px;
    height:200px;
    overflow: hidden;

    
}

.banner ul{
    margin :0;
    width: 2520px;
    height: 200px;
    display: flex; 
}

.bitem{
    width: 840px;
    height:200px;
    overflow: hidden;
}

 /* Banner button  */ 
.pre_btn{
    background-color: gray;
    position: absolute;
    top : 0px;
    margin-top: 20px;
    width: 40px;
    height: 200px;
    opacity: 20%;
}

.pre_btn:hover{
    opacity: 40%;
}

.next_btn{
    background-color: gray;
    position: absolute;
    top : 0px;
    left : 840px;
    margin-top: 20px;
    margin-left:60px;
    width: 40px;
    height: 200px;
    opacity: 20%;
}

.next_btn:hover{
    opacity: 40%;
}

.banner_index{
    position: relative;
    top : -40px;
    height : 40px;
    text-align: center;
}
.index_1{
    background-color: blue;
    width : 40px;
    height : 40px;
    border-radius: 70%;
}

/* category */

.category li{
    font-size: 16px;
    padding-right:48px;
    padding-left:48px;
    display: inline-block;

}

.content{ 
    display: inline-block;
    overflow: hidden;
}
.col {
    width : 100px;
    margin: 0px;
    padding-right:20px;
    float : left;
}

.col ul{
    padding: 0px;
    margin: 0px;
}

.col li{
    margin-bottom : 10px;
    text-align: center;
}

/* options */

#option{
    width: 840px;
    margin: 0;
    display: inline-block;
}

.subcategory{
    padding: 0px;
    padding-top : 20px; /*위에있는게 우선 적용*/
    display: block;
}

.subcategory ul{
    padding: 0px;
    margin: 0px;
    text-align: center;
}
.subcategory li{
    font-size: 16px;
    width : 210px;
    margin: 0px;
    float: left;
    vertical-align: middle;
}

.tab{
    background-color: blanchedalmond;
    text-decoration: none;
    width:210px;
    height: 36px;
    padding-top:10px;
    display: inline-block;
}

.tab:hover{
    background-color: rgb(71, 69, 69);
}


/* tab */

.tab.on{
    background-color: aquamarine;
}

.tabview{
    display:none;
}

.tabview:nth-child(2){
    display:block;
}
